<% content_for :title, "Editing leader" %>

<h1>Editing leader</h1>

<%= render "form", leader: @leader %>

<br>

<div>
  <%= link_to "Show this leader", @leader %> |
  <%= link_to "Back to leaders", leaders_path %>
</div>
