<p style="color: green"><%= notice %></p>

<% content_for :title, "Leaders" %>

<h1>Leaders</h1>

<div id="leaders">
  <% @leaders.each do |leader| %>
    <%= render leader %>
    <p>
      <%= link_to "Show this leader", leader %>
    </p>
  <% end %>
</div>

<%= link_to "New leader", new_leader_path %>
