<% content_for :title, "Editing contact information" %>

<h1>Editing contact information</h1>

<%= render "form", contact_information: @contact_information %>

<br>

<div>
  <%= link_to "Back to contact information", leader_contact_informations_path %>
</div>
