<p style="color: green"><%= notice %></p>

<% content_for :title, "Contact information" %>

<h1>Contact information</h1>

<div class="columns">
<div class="column">
<%= render "application/sidebar", leader:@leader %>
</div>
<div class="column is-three-quarters">
    <%= render @contact_information %>
</div>
</div>
