<p style="color: green"><%= notice %></p>
<% content_for :title, "Emergency contact" %>
<h1>Emergency contact</h1>
<div class="columns">
  <div class="column">
    <%= render "application/sidebar", leader:@leader %>
  </div>
  <div class="column is-three-quarters">
    <%= render @emergency_contact %>
  </div>
</div>
