<% content_for :title, "Editing demographic information" %>
<h1>Editing demographic information</h1>
<%= render "form", demographic: @demographic %>
<br>
<div>
  <%= link_to "Back to demographic information", leader_demographics_path %>
</div>
